node_modules
testingdata.json
.env






{
//Pass:wf66DRH1NywQbBMH
//username: nirobaurnab

//mongodb+srv://nirobaurnab:wf66DRH1NywQbBMH@cluster0.sgokpvd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
}